services:
  server:
    env_file: secret.env
    build: .
    environment:
      SMELTER_DEMO_API_PORT: "9071"
      SMELTER_DEMO_ROUTER_LOGGER_LEVEL: "warn"
      SMELTER_WHIP_WHEP_SERVER_PORT: "9072"
      SMELTER_LOGGER_FORMAT: compact
      SMELTER_LOGGER_LEVEL: info 
      SMELTER_SERVER_LOGGER_LEVEL: "debug,smelter_core=info,naga=info,cosmic_text=info,wgpu_hal=trace,smelter_core::pipeline::instance=warn"
      ENVIRONMENT: production
    volumes:
      - ./recordings:/home/smelter/demo/server/recordings
    ports:
      - 9071:9071
      - 9072:9072
    # AMD GPU
    # devices:
    #  - '/dev/dri'
    #
    # Nvidia GPU
    gpus: 'all'
    runtime: 'nvidia'
